@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$violet : #581d74;
$violetsoft: #e5d0e7;
$violetfonce: #330449;
$vertsoft: #e1ffe0;
$vertfonce: #2c8029;

$couleurchance: #d14984;
$couleurquestion: #bd8abe;
$couleursociete: #59227f;

:root {
    --vert: #{$vertfonce};
    --rouge: darkred;
}

html, body {
    margin:0;
    padding:0;
    position:relative;
    // width:100vw;
    // height:100vh;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    color: $violet;
}

.lead {
    text-align: center;
    font-size: 2em;
}
.muted {
    font-size:0.8em;
    color: gray;
    font-style:italic;
}

.is-blur {
    -webkit-filter: blur(1vh);
    filter: blur(1vh);
}
#nbgood {
    color: $vertfonce;
    font-weight:bold;
    font-size: 1.2em;
}
#nbquest {
    color: $violet;
    font-weight: bold;
    font-size: 1.2em;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    bottom:0px;
    right:0px;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  
    /* Modal Content/Box */
    & .modal-content {
        position:relative;
        background-color: #fefefe;
        margin: 50vh auto 0 auto;
        transform: translateY(-50%);
        padding: 20px;
        border: 0;
        text-align:center;
        border-radius: 20px;
        box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.46);

        &.modal-affiche-endgame {
            border-radius:0px;
            width: calc(16vh * 5);
            height: calc(9vh * 5);
            padding:0px;
            display:flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items:stretch;
            animation-name: animatetop;
            animation-duration: 0.5s;

            & .modal-inner {
                padding:20px;
                flex-grow: 1;
                display:flex;
                flex-direction: column;
                justify-content:center;
                align-items:stretch;
            }
            & .modal-footer {
                flex-grow:0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: stretch;
                & .logo {
                    width: 20vh;
                    background: transparent url("../images/logo_rad.png") left center no-repeat;
                    background-size:contain;
                    margin-left: 2vh;
                }
                & .btn-finparcours, & .btn-demarrer {
                    cursor: pointer;
                    padding: 2vh 5vh;
                    font-size:2vh;
                    background-color: $violet;
                    color: white;
                    border: 0.5vh solid transparent;
                    text-transform: uppercase;
                    transition: all 0.2s;
                    text-decoration:none;
                    &:hover {
                        background-color: $violetsoft;
                        border-color: $violet;
                        color: $violet;
                    }
                }
                & .btn-demarrer {
                    background-color: $vertfonce;
                    &:hover {
                        background-color: $vertsoft;
                        border-color: $vertfonce;
                        color: $vertfonce;
                    }
                }
            }
        }
    }
}

  /* Add Animation */
  @keyframes animatebot {
    from {bottom: -100vh; opacity: 0}
    to {bottom: 0; opacity: 1}
  }

  @keyframes animateleft {
      from {left:-100vh; opacity: 0}
      to {left:0; opacity: 1}
  }

@keyframes animatetop {
    from {top: -100vh; opacity: 0}
    to { top:0; opacity: 1;}
}

#joker {
    display:none;
    position: absolute;
    top:-5vh;
    left: 50%;
    transform:translateX(-50%);
    z-index:100;
    padding:5vh 2vh 1vh 2vh;
    background-color:rgba(white, 0.9);
    color: $violet;
    border-radius:3vh;
    font-size:1.1em;
    text-decoration:none;
    transition:all 0.2s;
    border: 0.25vh solid $violet;
    animation-name: animatejoker;
    animation-duration: 0.5s;
    & .joker-base {
        display:block;
        font-weight:bold;
    }
    & .joker-long {
        display:none;
        flex-direction: row;
        justify-content: start;
        align-items:center;

        & .joker-dismiss {
            display: inline-block;
            margin-left: 1vh;
            padding: 1vh 2vh;
            border-radius: 0.5vh;
            background-color: $vertfonce;
            color:white;
        }
    }
    &:hover {
        top:-4vh;
        background-color: rgba($violetsoft, 1.0);
    }
    &.available {
        display: block;
    }
    &.opened {
        top: -4vh;
        & .joker-base {
            display:none;
        }
        & .joker-long {
            display: block;
        }
    }
    &.called {
        display:none;
    }
}

@keyframes animatejoker {
    from {top:-30vh; opacity:0;}
    to {top: -5vh; opacity: 1;}
}
