@import "fonts";
@include importFonts("../");

$violet : #581d74;
$violetsoft: #e5d0e7;
$violetfonce: #330449;
$vertsoft: #e1ffe0;
$vertfonce: #2c8029;

$couleurchance: #d14984;
$couleurquestion: #bd8abe;
$couleursociete: #59227f;

html, body {
    margin:0;
    padding:0;
    position:relative;
    // width:100vw;
    // height:100vh;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 2vh;
    color: $violet;
}

#plateau {
    position:relative;
    margin-left: auto;
    margin-right:auto;
    height:100vh;
    width:100vh;
    background: white url("../images/plateau.png") no-repeat center center;
    background-size: contain;
    z-index: 1;
}

$pion_anim: 0.5s;
#pion {
    position:absolute;
    //bottom:0px;
    top: calc(5 * (100vh / 6));
    left:0px;
    height:calc(100vh / 6);
    width:calc(100vh /6);
    //border: 0.2vh solid rgba($violet, 0.5);
    border-radius:50%;
    background: rgba($violet, 0.3) url("../images/pion.png") no-repeat center center;
    background-size:100%;
    z-index:5;
    transform: scale(0.75);
    transition: 
        left $pion_anim ease-in-out,
        top $pion_anim ease-in-out
    ;
    //transform: translateY(-30%);
}

#de {
    position:absolute;
    top:calc(3.7 * (100vh / 6));
    left:50%;
    transform: translateX(-50%);
    height:calc(100vh / 6);
    width:calc(100vh /6);
    background: transparent url("../images/de.png") no-repeat center center;
    background-size:contain;
    z-index:10;
    cursor:pointer;
}

#clickme {
    position:absolute;
    top: calc(5 * (100vh / 6) - 7vh);
    left:50%;
    transform:translateX(-50%);
    background-color: rgba($violetfonce, 0.7);
    color:white;
    font-size: 2vh;
    padding: 1vh 2vh;
    z-index: 12;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 rgba($violet, 0.5);
    animation: pulse 2s infinite;
    &:before {
        position: absolute;
        z-index: 11;
        content: "";
        right: calc(50% - 1vh);
        top: -1vh;
        border-style: solid;
        border-width: 0 1vh 1vh 1vh;
        border-color: transparent transparent rgba($violetfonce, 0.7) transparent;
        transition-duration: 0.3s;
        transition-property: transform;
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($violet, 0.4);
      }
      70% {
          box-shadow: 0 0 0 2vh rgba($violet, 0);
      }
      100% {
          box-shadow: 0 0 0 0 rgba($violet, 0);
      }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    bottom:0px;
    right:0px;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    position:relative;
    background-color: #fefefe;
    margin: 50vh auto 0 auto;
    transform: translateY(-50%);
    padding: 20px;
    border: 0;
    text-align:center;
    border-radius: 20px;
    box-shadow: 5px 5px 16px -6px rgba(0,0,0,0.46);

    &.modal-affiche-de {
        width: calc((100vh / 4) + 40px); /* Could be more or less, depending on screen size */
        animation-name: animatebot;
        animation-duration: 0.4s
    }
    
    &.modal-affiche-question {
        width: calc(16vh * 4);
        height: calc(9vh * 4);
        padding:0px;
        transition: transform 1s, width $pion_anim, height $pion_anim;
        transform-style: preserve-3d;
        animation-name: animateleft;
        animation-duration:0.4s;
        &.flipped {
            transform: translateY(-50%) rotateY(180deg);
            &.is-flipped {
                width:calc(16vh * 6);
                height: calc(9vh * 6);
                // height:auto;
            }
        }
    }

    &.modal-affiche-endgame {
        border-radius:0px;
        width: calc(16vh * 5);
        height: calc(9vh * 5);
        padding:0px;
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items:stretch;
        animation-name: animatetop;
        animation-duration: 0.5s;

        & .modal-inner {
            padding:20px;
            flex-grow: 1;
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:stretch;
        }
        & .modal-footer {
            flex-grow:0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            & .logo {
                width: 20vh;
                background: transparent url("../images/logo.png") left center no-repeat;
                background-size:contain;
                margin-left: 2vh;
            }
            & .btn-finparcours {
                padding: 2vh 5vh;
                font-size:2vh;
                background-color: $violet;
                color: white;
                border: 0.5vh solid transparent;
                text-transform: uppercase;
                transition: all 0.2s;
                text-decoration:none;
                &:hover {
                    background-color: $violetsoft;
                    border-color: $violet;
                    color: $violet;
                }
            }
        }
    }
  }

  /* Add Animation */
  @keyframes animatebot {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }

  @keyframes animateleft {
      from {left:-100vh; opacity: 0}
      to {left:0; opacity: 1}
  }

@keyframes animatetop {
    from {top: -100vh; opacity: 0}
    to { top:0; opacity: 1;}
}

  /* Les dés */
  .dice-display {
      & img {
          height:calc(100vh / 4);
      }
  }
  .roll-displayed {
      display:block;
  }
  .roll-hidden {
      display:none;
  }

  /** OOOHH 3D MAGIIIE ***/
  .display-troide {
    perspective: 1000px;
    & .question-front, & .question-back {
        position:absolute;
        background-color:white;
        border-radius: 20px;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        // width:100%;
        // height: 100%;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        padding: 20px;
    }
    & .question-front {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        & img {
            height: 50%;
        }
        & span {
            font-size: 5vh;
            font-weight:bold;
            &.deco-chance {
                color: $couleurchance;
            }
            &.deco-question {
                color: $couleurquestion;
            }
            &.deco-societe {
                color: $couleursociete;
            }
        }
    }
    & .question-back {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:stretch;
        font-size:2vh;
        & p {
            text-align: center;
            font-size: 3vh;
            margin:0;
        }
            
        & ul {
            text-align:left;
            margin-top:2vh;
            & li {
                list-style-type: none;
                display:flex;
                flex-direction:row;
                justify-content: start;
                align-items:normal;
            }
        }
        & div {
            text-align:right;
            margin-top:5vh;
            & .repondre {
                cursor:pointer;
                display: inline-block;
                border:0.2vh solid transparent;
                box-shadow: 0px 0px 0px 0px rgba(88,29,116,0.13);
                background-color: $violet;
                color:white;
                font-size: 2.5vh;
                padding: 1vh 2vh;
                transition: all 0.2s;
                border-radius: 1vh;
                &:hover {
                    border-color: $violet;
                    box-shadow: 0px 0px 0px 0.5vh rgba($violet,0.2);
                    color: $violet;
                    background-color:white;
                }

                &.btn-roll {
                    display: none;
                    background: $vertsoft url(../images/de_gestion_relation.png) left center no-repeat;
                    background-size:contain;
                    color: $vertfonce;
                    padding-left:7vh;
                    border-color:$vertfonce;
                    text-transform:uppercase;
                    &:hover {
                        border-color: $vertfonce;
                        box-shadow: 0px 0px 0px 0.5vh rgba($vertfonce,0.2);
                        background-color: $vertsoft;
                        color: $vertfonce;
                    }
                }
            }
        }
        
        transform: rotateY(180deg);
    }
  }

.label-correct {
    color: $vertfonce;
    font-weight:bold;
}
.label-should-correct {
    color: $vertfonce;
    font-weight:normal;
}
.label-false {
    color: darkred;
    font-weight: normal;
}
.label-neutre {
    color: gray;
    font-weight:normal;
}
.lead {
    text-align: center;
    font-size: 2em;
}
.muted {
    font-size:0.8em;
    color: gray;
    font-style:italic;
}
#nbgood {
    color: $vertfonce;
    font-weight:bold;
    font-size: 1.2em;
}
#nbquest {
    color: $violet;
    font-weight: bold;
    font-size: 1.2em;
}

.is-blur {
    -webkit-filter: blur(1vh);
    filter: blur(1vh);
}
