@import "commun";

#plateau {
    position:relative;
    margin-left: auto;
    margin-right:auto;
    height:100vh;
    width:100vh;
    background: white url("../images/plateau.png") no-repeat center center;
    background-size: contain;
    z-index: 1;
}

$pion_anim: 0.5s;
#pion {
    position:absolute;
    //bottom:0px;
    top: calc(5 * (100vh / 6));
    left:0px;
    height:calc(100vh / 6);
    width:calc(100vh /6);
    //border: 0.2vh solid rgba($violet, 0.5);
    border-radius:50%;
    background: rgba($violet, 0.3) url("../images/pion.png") no-repeat center center;
    background-size:100%;
    z-index:5;
    transform: scale(0.75);
    transition: 
        left $pion_anim ease-in-out,
        top $pion_anim ease-in-out
    ;
    //transform: translateY(-30%);
}

#de {
    position:absolute;
    top:calc(3.7 * (100vh / 6));
    left:50%;
    transform: translateX(-50%);
    height:calc(100vh / 6);
    width:calc(100vh /6);
    background: transparent url("../images/de.png") no-repeat center center;
    background-size:contain;
    z-index:10;
    cursor:pointer;
}

#clickme {
    cursor: pointer;
    position:absolute;
    top: calc(5 * (100vh / 6) - 7vh);
    left:50%;
    transform:translateX(-50%);
    background-color: rgba($violetfonce, 0.7);
    color:white;
    font-size: 2vh;
    padding: 1vh 2vh;
    z-index: 12;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 rgba($violet, 0.5);
    animation: pulse 2s infinite;
    &:before {
        position: absolute;
        z-index: 11;
        content: "";
        right: calc(50% - 1vh);
        top: -1vh;
        border-style: solid;
        border-width: 0 1vh 1vh 1vh;
        border-color: transparent transparent rgba($violetfonce, 0.7) transparent;
        transition-duration: 0.3s;
        transition-property: transform;
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($violet, 0.4);
      }
      70% {
          box-shadow: 0 0 0 2vh rgba($violet, 0);
      }
      100% {
          box-shadow: 0 0 0 0 rgba($violet, 0);
      }
}

.modal {

    & .modal-content {
        &.modal-affiche-de {
            width: calc((100vh / 4) + 40px); /* Could be more or less, depending on screen size */
            animation-name: animatebot;
            animation-duration: 0.4s
        }
        
        &.modal-affiche-question {
            width: calc(16vh * 4);
            height: calc(9vh * 4);
            padding:0px;
            transition: transform 1s, width $pion_anim, height $pion_anim;
            transform-style: preserve-3d;
            animation-name: animateleft;
            animation-duration:0.4s;
            &.flipped {
                transform: translateY(-50%) rotateY(180deg);
                &.is-flipped {
                    width:calc(16vh * 6);
                    height: calc(9vh * 6);
                    // height:auto;
                }
            }
        }
    }
}
  /* Les dés */
  .dice-display {
      & img {
          height:calc(100vh / 4);
      }
  }
  .roll-displayed {
      display:block;
  }
  .roll-hidden {
      display:none;
  }

  /** OOOHH 3D MAGIIIE ***/
  .display-troide {
    perspective: 1000px;
    & .question-front, & .question-back {
        position:absolute;
        background-color:white;
        border-radius: 20px;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        // width:100%;
        // height: 100%;
        -moz-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        padding: 20px;
    }
    & .question-front {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        & img {
            height: 50%;
        }
        & span {
            font-size: 5vh;
            font-weight:bold;
            &.deco-chance {
                color: $couleurchance;
            }
            &.deco-question {
                color: $couleurquestion;
            }
            &.deco-societe {
                color: $couleursociete;
            }
        }
    }
    & .question-back {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:stretch;
        font-size:2vh;
        & p {
            text-align: center;
            font-size: 3vh;
            margin:0;
        }
            
        & ul {
            text-align:left;
            margin-top:2vh;
            & li {
                list-style-type: none;
                display:flex;
                flex-direction:row;
                justify-content: start;
                align-items:normal;
            }
        }
        & div {
            text-align:right;
            margin-top:5vh;
            & .repondre {
                cursor:pointer;
                display: inline-block;
                border:0.2vh solid transparent;
                box-shadow: 0px 0px 0px 0px rgba(88,29,116,0.13);
                background-color: $violet;
                color:white;
                font-size: 2.5vh;
                padding: 1vh 2vh;
                transition: all 0.2s;
                border-radius: 1vh;
                &:hover {
                    border-color: $violet;
                    box-shadow: 0px 0px 0px 0.5vh rgba($violet,0.2);
                    color: $violet;
                    background-color:white;
                }

                &.btn-roll {
                    display: none;
                    background: $vertsoft url(../images/de.png) left center no-repeat;
                    background-size:contain;
                    color: $vertfonce;
                    padding-left:7vh;
                    border-color:$vertfonce;
                    text-transform:uppercase;
                    &:hover {
                        border-color: $vertfonce;
                        box-shadow: 0px 0px 0px 0.5vh rgba($vertfonce,0.2);
                        background-color: $vertsoft;
                        color: $vertfonce;
                    }
                }
            }
        }
        
        transform: rotateY(180deg);
    }
  }

.label-correct {
    color: $vertfonce;
    font-weight:bold;
}
.label-should-correct {
    color: $vertfonce;
    font-weight:normal;
}
.label-false {
    color: darkred;
    font-weight: normal;
}
.label-neutre {
    color: gray;
    font-weight:normal;
}
